# Database Connection String
# Format: postgresql://<username>:<password>@<host>:<port>/<database_name>
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/security_logs

# API Settings
API_V1_STR=/api
PROJECT_NAME="Cybersecurity Log Monitoring Pipeline API"
DEBUG=True
