# ==========================================
# 🛡️ CONFIG LINGKUNGAN SISTEM KEAMANAN SIBER
# ==========================================

# Pengaturan Umum Aplikasi
DEBUG=True
PROJECT_NAME="Cybersecurity Log Monitoring Pipeline API"
API_V1_STR="/api"

# Konfigurasi Database PostgreSQL
# FASTAPI
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/security_logs"
# Django & Docker
POSTGRES_SERVER="localhost"
POSTGRES_PORT="5432"
POSTGRES_DB="security_logs"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"

# Keamanan & Rate Limiting FastAPI
API_KEY="soc-secret-api-key-2026"

# Pengaturan Dashboard Django
DJANGO_SECRET_KEY="django-insecure-soc-dashboard-secret-key-enterprise-mvp-2026"

# Google Gemini AI Assistant (SOC Chatbot)
# Dapatkan API key Anda di: https://aistudio.google.com/
GEMINI_API_KEY="your_google_gemini_api_key_here"